* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 120px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.one,
.two,
.three,
.four {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.one {
  background-color: #19a68c;
  animation-name: one;
}
.two {
  background-color: #f63d3a;
  animation-name: two;
}
.three {
  animation-name: three;
  background-color: #fda543;
}
.four {
  animation-name: four;
  background-color: #193b48;
}
@keyframes one {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(70px, 0px);
  }
  50% {
    transform: translate(70px, 70px);
  }
  75% {
    transform: translate(0px, 70px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes two {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 70px);
  }
  50% {
    transform: translate(-70px, 70px);
  }
  75% {
    transform: translate(-70px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes three {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0px, -70px);
  }
  50% {
    transform: translate(70px, -70px);
  }
  75% {
    transform: translate(70px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes four {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-70px, 0px);
  }
  50% {
    transform: translate(-70px, -70px);
  }
  75% {
    transform: translate(0px, -70px);
  }
  100% {
    transform: translate(0, 0);
  }
}
